<!DOCTYPE html>
<html>
<head>
	<title>l</title>
</head>
<body background="flower.jpg">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<form align="center" method="post" action="/la">
		<input autocomplete="off" type="text" placeholder="your name"  name="f">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<input type="text" autocomplete="off" placeholder="last name" name="fc"><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>